@font-face {
    font-family: "Inter-Regular";
    src: url("../fonts/Inter-Regular.woff") format("woff");
}

@font-face {
    font-family: "Geologica-ExtraLight";
    src: url("../fonts/Geologica-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Geologica-Regular";
    src: url("../fonts/Geologica-Regular.woff") format("woff");
}

@font-face {
    font-family: "Rubik-Regular";
    src: url("../fonts/Rubik-Regular.woff") format("woff");
}

@font-face {
    font-family: "Rubik-Medium";
    src: url("../fonts/Rubik-Medium.woff") format("woff");
}

@font-face {
    font-family: "Rubik-Bold";
    src: url("../fonts/Rubik-Bold.woff") format("woff");
}

@font-face {
    font-family: "Rubik-ExtraBold";
    src: url("../fonts/Rubik-ExtraBold.woff") format("woff");
}