//обнуление стилей
@import 'reset';

//подключаем шрифты
@import 'fonts';

//подключаем переменные, шаблоны
@import 'vars';

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../images/sitebg.webp');
    background-size: contain;
    background-position: center;
    background-repeat: repeat-y;
}

body > main {
    flex-grow: 1;
}

.container {
    max-width: 1254px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    @media(max-width: 1300px) {
        max-width: 100%;
        padding: 0 38px;
    }
    @media(max-width: 1100px) {
        padding: 0 15px;
    }
}

h2 {
    color: $white;
    text-shadow: 0px 2px 4px #000;
    font-family: $rubikExtraBold;
    font-size: 36px;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 30px;
    @media(max-width: 1400px) {
        font-size: 32px;
    }
    @media(max-width: 1200px) {
        font-size: 28px;
    }
    @media(max-width: 1100px) {
        font-size: 26px;
    }
}

h3 {
    color: $white;
    font-family: $rubikExtraBold;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    font-family: $geoReg;
    color: $white;
}

p + p {
    margin-top: 15px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    margin: 0 auto;
    transition: all 0.5s;
    &.scroll__bg-color {
        background-color: $black;
    }
}

.header__cnt {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 38px 15px 33px 15px;
    width: 1460px;
    margin: 0 auto;
    @media(max-width: 1460px) {
        padding: 20px 15px 20px 15px;
        width: 100%;
    }
    @media(max-width: 1100px) {
        justify-content: flex-end;
        align-items: center;
        padding: 10px 15px;
    }
}

.header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 28px;
    cursor: pointer;
    @media(max-width: 1200px) {
        width: 25px;
        height: 20px;
    }
    @media(max-width: 1100px) {
        order: 2;
    }
}

.header__burger span {
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 2px;
    right: 0;
    top: 13px;
    transition: all 0.5s ease 0s;
    @media(max-width: 1200px) {
        top: 9px;
    }
}

.header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    background-color: $white;
    width: 100%;
    height: 2px;
    right: 0;
    transition: all 0.5s ease 0s;
}
  
.header__burger::before {
    top: 0;
}
  
.header__burger::after {
    bottom: 0;
}

.header__burger.active-burger span {
    transform: scale(0);
}
  
.header__burger.active-burger::before {
    transform: rotate(45deg);
    top: 13px;
    @media(max-width: 1200px) {
        top: 9px;
    }
}
  
.header__burger.active-burger::after {
    transform: rotate(-45deg);
    bottom: 13px;
    @media(max-width: 1200px) {
        bottom: 9px;
    }
}

.basket {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 68px;
    padding: 6px 8px 8px 8px;
    border-radius: 18px;
    border: 2px solid $white;
    img {
        width: 24px;
        height: auto;
        object-fit: cover;
        @media(max-width: 1100px) {
            width: 18px;
        }
    }
    @media(max-width: 1100px) {
        margin: 0 30px;
    }
}

.basket__name, .basket__value {
    line-height: normal;
    font-weight: 400;
    font-family: $rubikReg;
    color: $white;
}

.basket__name {
    font-size: 13px;
    @media(max-width: 1100px) {
        font-size: 12px;
    }
}

.basket__value {
    font-size: 16px;
    margin-top: 2px;
    @media(max-width: 1460px) {
        font-size: 15px;
    }
    @media(max-width: 1300px) {
        font-size: 14px;
    }
    @media(max-width: 1100px) {
        font-size: 13px;
    }
}

.header__logo {
    display: block;
    width: 174px;
    height: auto;
    align-self: center;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media(max-width: 1460px) {
        width: 150px;
    }
    @media(max-width: 1300px) {
        width: 140px;
    }
    @media(max-width: 1200px) {
        width: 120px;
    }
    @media(max-width: 1100px) {
        order: -1;
        margin-right: auto;
    }
}

.header__menu {
    nav {
        margin-bottom: 13px;
        @media(max-width: 1460px) {
            margin-bottom: 10px;
        }
        @media(max-width: 1100px) {
            display: none;
        }
    }
}

.header__list {
    display: flex;
    align-items: center;
    li + li {
        margin-left: 20px;
        @media(max-width: 1300px) {
            margin-left: 15px;
        }
        @media(max-width: 1200px) {
            margin-left: 10px;
        }
    }
    li {
        &:nth-child(1) {
            a {
                border: 2px solid #FBFBFB;
                border-radius: 500px;
                padding: 6px 10px;
                &:hover {
                    border-color: $red;
                }
                @media(max-width: 1460px) {
                    padding: 5px 8px;
                }
                @media(max-width: 1300px) {
                    padding: 5px;
                    border-radius: 15px;
                }
            }
        }
    }
    a {
        font-size: 16px;
        line-height: normal;
        font-weight: 400;
        font-family: $geoReg;
        color: $white;
        display: inline-block;
        transition: all 0.5s;
        &:hover {
            color: $red;
        }
        @media(max-width: 1460px) {
            font-size: 15px;
        }
        @media(max-width: 1300px) {
            font-size: 14px;
        }
    }
}

.header__menu-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media(max-width: 1100px) {
        flex-direction: column;
        align-items: flex-start;
    }
}

.header__menu-left {
    font-size: 16px;
    font-weight: 400;
    color: $white;
    line-height: normal;
    font-family: $geoReg;
    @media(max-width: 1460px) {
        font-size: 15px;
    }
    @media(max-width: 1300px) {
        font-size: 14px;
    }
    @media(max-width: 1100px) {
        margin-bottom: 10px;
    }
}

.header__menu-right {
    display: flex;
    align-items: center;
}

.menu__item + .menu__item {
    margin-left: 32px;
}

.menu__item {
    display: flex;
    align-items: center;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    font-family: $geoReg;
    transition: all 0.5s;
    cursor: pointer;
    input {
        display: none;
    }
    .menu__item-circle {
        width: 24px;
        height: 24px;
        transition: all 0.5s;
        border-radius: 50%;
        border: 2px solid $white;
        position: relative;
        margin-left: 8px;
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $red;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            opacity: 0;
            transition: all 0.5s;
            @media(max-width: 1460px) {
                width: 10px;
                height: 10px;
            }
        }
        @media(max-width: 1460px) {
            width: 20px;
            height: 20px;
        }
    }
    &.menu__item-active {
        color: $red;
        .menu__item-circle {
            border-color: $red;
            &::before {
                content: '';
                opacity: 1;
            }
        }
    }
    @media(max-width: 1460px) {
        font-size: 15px;
    }
    @media(max-width: 1300px) {
        font-size: 14px;
    }
}

/*mob menu*/
.mob__menu {
    min-width: 1030px;
    min-height: 740px;
    display: flex;
    align-items: flex-end;
    background-color: #1D1D1D;
    padding: 40px 94px 137px 124px;
    position: fixed;
    top: 0;
    left: -2000px;
    transition: all 0.5s;
    &.active-burger {
        left: 0;
        @media(max-width: 1100px) {
            left: unset;
            right: 0;
        }
    }
    @media(max-width: 1500px) {
        min-height: 640px;
        min-width: 910px;
    }
    @media(max-width: 1400px) {
        min-height: 550px;
        min-width: 770px;
        padding: 40px 80px 80px 60px;
    }
    @media(max-width: 1300px) {
        min-height: 475px;
        min-width: 655px;
    }
    @media(max-width: 1200px) {
        min-height: 435px;
        min-width: 575px;
    }
    @media(max-width: 1100px) {
        left: unset;
        right: -2000px;
        flex-wrap: wrap;
        min-width: unset;
        width: 575px;
    }
}

.mob__app-box {
    display: none;
    margin-top: 15px;
    width: 100%;
    @media(max-width: 1100px) {
        display: flex;
    }
    a {
        color: $white;
        font-family: $geoReg;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        padding: 8px 16px;
        border: 2px solid $white;
        border-radius: 500px;
    }
}

.mob__close {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    &::before, &::after {
        content: "";
        width: 33px;
        height: 2px;
        position: absolute;
        background-color: #AEAEAE;
    }
    &::before {
        top: 12px;
        left: -3px;
        transform: rotate(45deg);
    }
    &::after {
        top: 12px;
        right: -4px;
        transform: rotate(-45deg);
    }
}

.mob__menu-list {
    li + li {
        margin-top: 13px;
    }
    a {
        display: block;
        width: fit-content;
        color: $white;
        font-weight: 800;
        line-height: normal;
        font-size: 50px;
        font-family: $rubikExtraBold;
        @media(max-width: 1500px) {
            font-size: 40px;
        }
        @media(max-width: 1400px) {
            font-size: 35px;
        }
        @media(max-width: 1300px) {
            font-size: 28px;
        }
        @media(max-width: 1200px) {
            font-size: 24px;
        }
    }
}

.mob__logo {
    display: block;
    width: 198px;
    height: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media(max-width: 1300px) {
        width: 170px;
    }
    @media(max-width: 1200px) {
        width: 140px;
    }
}

/*main*/
.app__link-box {
    top: 331px;
    left: 102px;
    position: fixed;
    border-radius: 500px;
    border: 2px solid $white;
    z-index: 10;
    transition: all 0.5s;
    width: 48px;
    height: 311px;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    font-family: $geoReg;
    &:hover {
        color: $black;
        background-color: $red;
        border: 2px solid $red;
    }
    @media(max-width: 1700px) {
        left: 50px;
    }
    @media(max-width: 1500px) {
        left: 15px;
    }
    @media(max-width: 1400px) {
        font-size: 14px;
        height: 265px;
        width: 30px;
        left: 5px;
    }
    @media(max-width: 1100px) {
        display: none;
    }
}

.app__link {
    transform: rotate(270deg);
    width: 271px;
    height: 20px;
    position: absolute;
    line-height: 100%;
    font-size: 16px;
    color: $white;
    font-size: 16px;
    font-weight: 400;
    font-family: $geoReg;
    @media(max-width: 1400px) {
        font-size: 14px;
        width: 238px;
        height: 16px;
    }
}

.main__slider-wrapper {
    padding-top: 185px;
    margin-bottom: 159px;
    @media(max-width: 1460px) {
        padding-top: 150px;
    }
    @media(max-width: 1100px) {
        padding-top: 120px;
        margin-bottom: 100px;
    }
}

.main__slider-container {
    position: relative;
    width: 84%;
    margin-left: auto;
    border-radius: 25px 0px 0px 25px;
    overflow: hidden;
    @media(max-width: 1700px) {
        width: 88%;
    }
    @media(max-width: 1600px) {
        width: 91%;
    }
    @media(max-width: 1500px) {
        width: 93%;
    }
    @media(max-width: 1100px) {
        width: 100%;
        border-radius: 0;
    }
}

.main__slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 682px;
    padding: 70px 50px 50px 103px;
    @media(max-width: 1400px) {
        min-height: 650px;
        padding: 70px 50px 50px 70px;
    }
    @media(max-width: 1200px) {
        min-height: 590px;
        padding: 70px 50px 50px 70px;
    }
    @media(max-width: 1100px) {
        min-height: 510px;
        padding: 50px 20px 40px 20px;
    }
}

.main__slide-cnt {
    width: 790px;
    .main__slide-title {
        color: $white;
        font-family: $rubikExtraBold;
        font-size: 36px;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        margin-bottom: 20px;
        @media(max-width: 1400px) {
            font-size: 32px;
        }
        @media(max-width: 1200px) {
            font-size: 28px;
        }
        @media(max-width: 1100px) {
            font-size: 25px;
        }
    }
    .main__slide-info {
        color: $white;
        font-family: $rubikReg;
        font-size: 24px;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 40px;
        @media(max-width: 1400px) {
            font-size: 22px;
        }
        @media(max-width: 1200px) {
            font-size: 20px;
        }
        @media(max-width: 1100px) {
            font-size: 18px;
        }
    }
    @media(max-width: 1200px) {
        width: 730px;
    }
    @media(max-width: 1100px) {
        width: 680px;
    }
}

.main__slide-btn {
    position: relative;
    transition: all 0.5s;
    color: $red;
    font-size: 18px;
    line-height: normal;
    font-weight: 400;
    font-family: $geoReg;
    display: inline-block;
    &::before {
        content: '';
        position: absolute;
        width: 49px;
        height: 54px;
        right: -40px;
        bottom: -15px;
        transition: all 0.5s;
        background-image: url('../images/mainslidebtn.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1;
        @media(max-width: 1100px) {
            width: 41px;
            height: 45px;
            right: -30px;        
        }
    }
    &:hover::before {
        right: -25px;
    }
    @media(max-width: 1100px) {
        font-size: 16px;
    }
}

.main__slider-container .swiper-button-prev:after, .main__slider-container .swiper-container-rtl .swiper-button-next:after {
    content: "";
}
  
.main__slider-container .swiper-button-next:after, .main__slider-container .swiper-container-rtl .swiper-button-prev:after {
    content: "";
}
  
.main__slider-container .swiper-button-prev, .main__slider-container .swiper-container-rtl .swiper-button-next {
    width: 80px;
    height: 16px;
    background-image: url("../images/mainsliderleft.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
    transition: all 0.5s;
    left: unset;
    right: 364px;
    top: unset;
    bottom: 44px;
    margin-top: unset;
    z-index: 1;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
    &::before {
        content: '';
        position: absolute;
        height: 54px;
        width: 49px;
        left: -25px;
        z-index: -1;
        background-image: url('../images/mainsliderleftcircle.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.5s;
        opacity: 0;
    }
    &:hover::before {
        opacity: 1;
    }
    @media(max-width: 1300px) {
        right: 220px;
    }
}
  
.main__slider-container .swiper-button-next, .main__slider-container .swiper-container-rtl .swiper-button-prev {
    width: 80px;
    height: 16px;
    background-image: url("../images/mainsliderright.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
    margin-top: unset;
    transition: all 0.5s;
    right: 256px;
    top: unset;
    bottom: 44px;
    z-index: 1;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
    &::before {
        content: '';
        position: absolute;
        height: 54px;
        width: 49px;
        right: -25px;
        z-index: -1;
        background-image: url('../images/mainsliderrightcircle.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.5s;
        opacity: 0;
    }
    &:hover::before {
        opacity: 1;
    }
    @media(max-width: 1300px) {
        right: 100px;
    }
}

.products__wrapper + .products__wrapper {
    margin-top: 72px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: -12px;
}

.prod__card {
    width: calc(25% - 24px);
    margin: 12px;
    height: 565px;
    border: 3px solid $white;
    background-color: $white;
    border-radius: 23px;
    transition: all 1s ease;
    transform-style: preserve-3d;
    position: relative;
    &:hover {
        border-color: $red;
    }
    &.rotated {
        transform: rotateY(-180deg);
    }
    &.disabled {
        filter: grayscale(100%); 
        .in-basket, .compound, .basket-quantity__btn {
            pointer-events: none;
        }
    }
    @media(max-width: 1300px) {
        height: 550px;
    }
    @media(max-width: 1200px) {
        height: 520px;
    }
    @media(max-width: 1150px) {
        height: 500px;
    }
}

.card__contents {
    width: 100%;
    height: 100%;
    border-radius: 23px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    .card__img {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 23px 23px 0 0;
        margin-bottom: 12px;
    }
}

.card__contents-text {
    padding: 0 20px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    @media(max-width: 1150px) {
        padding: 0 10px 15px 10px;
    }
}

.card__contents-top {
    margin-bottom: auto;
}

.card__delivery {
    margin-top: 10px;
    margin-bottom: 24px;
}

.prod__name {
    color: #000;
    font-weight: 400;
    line-height: normal;
    font-size: 22px;
    font-family: $geoReg;
    margin-bottom: 8px;
    @media(max-width: 1300px) {
        font-size: 20px;
    }
}

.prod__info {
    color: #000;
    line-height: normal;
    font-weight: 200;
    font-size: 16px;
    font-family: $geoELight;
    @media(max-width: 1300px) {
        font-size: 15px;
    }
}

.card__delivery {
    p {
        display: flex;
        width: fit-content;
        align-items: center;
        color: #000;
        line-height: normal;
        font-weight: 200;
        font-size: 16px;
        font-family: $geoELight;
        img {
            width: 15px;
            height: auto;
            object-fit: cover;
            margin-right: 8px;
        }
        @media(max-width: 1300px) {
            font-size: 15px;
        }
    }
    p + p {
        margin-top: 11px;
        @media(max-width: 1300px) {
            margin-top: 5px;
        }
    }
}

.card__bottom-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.basket-quantity__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    border: 1px solid $red;
    padding: 7.5px 17.5px;
    width: 90px;
}

.basket-quantity__value {
    color: #000;
    font-family: $geoELight;
    font-weight: 200;
    font-size: 16px;
    line-height: normal;
    width: 20px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding: unset;
    border: none;
    border-radius: unset;
    background-color: transparent;
}

.basket-quantity__btn {
    color: #000;
    font-weight: 200;
    line-height: normal;
    font-family: $geoELight;
    font-size: 16px;
    background-color: unset;
    outline: unset;
    cursor: pointer;
}

.prod__price {
    color: #000;
    font-family: $rubikMed;
    font-size: 26px;
    font-weight: 500;
    line-height: normal;
    @media(max-width: 1300px) {
        font-size: 23px;
    }
}

.card__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.in-basket {
    @extend %pageBtn;
    cursor: pointer;
    &:hover {
        color: $red;
    }
}

.compound {
    background-color: transparent;
    cursor: pointer;
    color: $red;
    font-size: 18px;
    font-weight: 200;
    line-height: normal;
    font-family: $geoELight;
    @media(max-width: 1300px) {
        font-size: 16px;
    }
}

.compound__mob-open {
    display: none;
}

.compound__mob-close {
    display: none;
}

.card-back-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 20px;
    @media(max-width: 1150px) {
        padding: 15px 10px 15px 10px;
    }
}

.back__prod-name {
    color: #000;
    font-family: $geoReg;
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 4px;
    @media(max-width: 1300px) {
        font-size: 20px;
    }
}

.prod__articul {
    color: #000;
    font-family: $geoELight;
    font-size: 16px;
    font-weight: 200;
    line-height: normal;
    @media(max-width: 1300px) {
        font-size: 15px;
    }
}

.compound__title {
    color: #000;
    font-family: $geoReg;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    @media(max-width: 1300px) {
        font-size: 16px;
    }
}

.compound__box {
    margin-top: 20px;
    p {
        color: #000;
        font-family: $geoELight;
        font-size: 16px;
        font-weight: 200;
        line-height: normal;
        margin-bottom: 5px;
        @media(max-width: 1300px) {
            font-size: 15px;
        }
    }
    p + p {
        margin: 0;
    }
    ul {
        padding-left: 10px;
        margin: 5px 0;
        li {
            color: #000;
            font-family: $geoELight;
            font-size: 16px;
            font-weight: 200;
            line-height: normal;
            position: relative;
            padding-left: 10px;
            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 9px;
                width: 4px;
                height: 4px;
                background-color: #000;
                border-radius: 50%;
            }
            @media(max-width: 1300px) {
                font-size: 15px;
            }
        }
    }
}

/*.compound__desc, .prod__weight {
    color: #000;
    font-family: $geoELight;
    font-size: 16px;
    font-weight: 200;
    line-height: normal;
}*/

/*.compound__desc {
    margin-bottom: 12px;
}*/

.card-front {
    transform-style: preserve-3d;
}

.card-back {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

/*footer*/
footer {
    padding: 0 0 100px 0;
    margin-top: 200px;
    @media(max-width: 1100px) {
        padding: 0 0 50px 0;
        margin-top: 150px;
    }
}

.footer__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__menu {
    width: 287px;
    height: 275px;
    @media(max-width: 1100px) {
        width: 210px;
        height: 205px;
    }
}

.footer__nav {
    width: 360px;
    height: 160px;
    @media(max-width: 1100px) {
        width: 280px;
        height: 120px;
    }
}

.footer__menu, .footer__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    li {
        margin-bottom: 16px;
        @media(max-width: 1100px) {
            margin-bottom: 10px;
        }
    }
    a {
        color: $white;
        font-weight: 400;
        line-height: normal;
        font-size: 18px;
        font-family: $geoReg;
        transition: all 0.5s;
        &:hover {
            color: $red;
        }
        @media(max-width: 1300px) {
            font-size: 16px;
        }
        @media(max-width: 1100px) {
            font-size: 15px;
        }
    }
}

.footer__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .footer__app-link {
        @extend %pageBtn;
        width: 345px;
        text-align: center;
        @media(max-width: 1300px) {
            width: 315px;
        }
        @media(max-width: 1100px) {
            width: 270px;
        }
    }
    .footer__info-item + .footer__info-item {
        margin-top: 24px;
        @media(max-width: 1100px) {
            margin-top: 15px;
        }
    }
    .footer__item {
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        font-family: $geoReg;
        color: $white;
        display: block;
        width: fit-content;
        @media(max-width: 1300px) {
            font-size: 16px;
        }
        @media(max-width: 1100px) {
            font-size: 15px;
        }
    }
    .footer__item + .footer__item {
        margin-top: 16px;
        @media(max-width: 1100px) {
            margin-top: 10px;
        }
    }
}

.footer__logo {
    display: block;
    width: 156px;
    height: auto;
    margin: -12px auto 32px auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @media(max-width: 1100px) {
        width: 130px;
    }
}

.footer__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        display: inline-block;
        color: $white;
        font-size: 14px;
        line-height: normal;
        font-weight: 200;
        font-family: $geoELight;
        transition: all 0.5s;
        &:hover {
            color: $red;
        }
    }
    a + a {
        margin-left: 72px;
    }
}
