/* ------ RESET --------*/
* {
	margin: 0;
	padding: 0;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    float:left;
    width:100%;
	line-height: 1;
    background-color: #fff;
    color: rgba(65, 70, 75, 1);
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}






body {
    font-size:16px;
    font-family: "DINPro", sans-serif;
}

@media (min-width: 280px) {
    body {
        font-size: 13px;
    }
}


@media (min-width: 360px) {
    body {
        font-size: 18px;
    }
}

@media (min-width: 390px) {
    body {
        font-size: 19px;
    }
}

@media (min-width: 412px) {
    body {
        font-size: 20px;
    }
}

@media (min-width: 430px) {
    body {
        font-size: 21px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 32px;
    }
}








/* ------ Mobile --------*/
.desktoponly {
    display: none;    
}

header {
    width:100%;
    float:left;
}

.header-logo {
    float:left;
    margin: 0.6em 0 0 1em;
}

.header-logo-a {
}

.header-logo-img {
    width: 6em;
}



.header-button {
    display: none;
}

.header-button2 {
    display: none;
}



.header-button3 {
    position: absolute;
    right: 3em;
    top: 2.3em;
}

.header-button3-a {
    background-color: rgba(49, 113, 184, 1);
    border-radius: 0.5em;
    color: #fff;
    text-decoration: none;
    line-height: 1.8em;
    display: block;
    padding: 0 1em;
    font-size: 0.75em;
    box-shadow:inset 0 0 0.7em rgba(52, 185, 239, 1);
}


.header-burger {
    float:right;
}

.header-burger-a {
    display: block;
    padding: 1em;
}

.header-burger-img {
    width: 1em;
}

.header-phone {
    font-family: "DINPro", sans-serif;
    float: right;
    margin: 1em 0 0 0;
    font-size: 0.87em;
}

.header-phone-a {
    font-weight:bold;
    text-decoration: none;
    color:rgba(49, 113, 184, 1);
}




.header-nav-desktop {
    display: none;
}



.slider-desktop {
    display: none;
}

.slider-mobile {
    width: 100%;
    max-width: 100vw;
    float: left;
    margin-top: 2em;
}


.slider img {
    width:100%;
    min-height: 0.55vw;
}

.slider .swiper-pagination {
    bottom: 0em !important;
}

.slider .swiper-pagination-bullet {
    margin: 0 0.15em !important;
    width: 0.4em;
    height: 0.4em;
    background-color: none;
    background: linear-gradient(to bottom, rgba(49, 113, 184, 0.6) 0%,rgba(52, 185, 239, 0.6) 100%);
    opacity:1;
}

.slider .swiper-pagination-bullet-active {
    background: rgba(49, 113, 184, 0.8);
}








.main-block-1 {
    float: left;
    width: 100%;
    max-width: 100vw;
    margin-top: 1.5em;
    padding-bottom: 2.5em;
}

h1 {
    font-family: "FuturaMdBT", sans-serif;
    font-weight: bold;
    font-size: 1.1em;
    padding: 0 1em;
    text-transform: uppercase;
}

.main-blick-1-ul {
    display: flex;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    font-weight: normal;
    font-size: 0.75em;
    padding-top: 1em;
}

.main-blick-1-li {
    line-height: 2.8em;
    margin: 0.66em 1.6em 0 1.6em;
    border-radius: 1.5em;
    color: rgba(65, 70, 75, 1);
    box-shadow: 0 0 0 0.1em rgba(49, 113, 184, 1);
}

.main-blick-1-icon {
    float: left;
    width: 2.5em;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 0.9em;
    margin-right: 0.3em;
    background-size: 1.25em;
    line-height: 2.8em;
}








.main-block-3 {
    float:left;
    width:100%;
}

.main-block-3 img {
    width:100%;
}

.main-block-3-text {
    padding-top:0.6em;
}

.main-block-3-text h2{
    font-family: "FuturaMdBT", sans-serif;
    font-weight: bold;
    font-size: 0.95em;
    padding: 0 1em;
    text-transform: uppercase;
    color: rgba(65, 70, 75, 1);
}

.main-block-3-text ul {
    padding: 0.6em 1em;
    font-size: 0.9em;
    line-height: 1.3em;
}

.main-block-3-text li.marker {
    background-image: url(../images/Ellipse22.svg);
    /* background-repeat: no-repeat; */
    background-position: left 0.5em;
    background-repeat: no-repeat;
    padding-left: 0.9em;
    background-size: 0.5em;
}

.main-block-3-a {
}

.bluebutton {
    display: table;
    margin: 0 auto;
    font-size: 0.74em;
    text-decoration: none;
    line-height: 2em;
    color: #fff;
    background-color: rgba(106, 184, 253, 1);
    font-weight: normal;
    padding: 0 1em;
    border-radius: 0.7em;
    box-shadow: inset 0 0 0 1px rgba(166, 171, 189, 0.2);

}






.main-block-4 {
    float:left;
    width:100%;
    max-width:100vw;
}

.main-block-4-text {
    margin: 1.4em 0.8em;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: -0.02em;
}

.main-block-4-img {
    width: calc(100% - 2em);
    margin: -0.7em auto 0 auto;
    display: table;
}

.main-block-4-img img {
    width:100%;
}













.main-block-5 {
    float: left;
    width: 100%;
    max-width: 100vw;
}

.main-block-5-text {
    font-family: "FuturaMdBT", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 2em 0 0 1em;
    font-size: 1.13em;
    padding: 0 3em 0 0;
}


.main-block-5-img {
    float: right;
    width: 95%;
    margin-top: 1em;
}

.main-block-5-img img {
    width:100%;
}


.main-block-5-list {
    float: left;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    height: 17em;
    margin: -2em 0 0 0;
}

.main-block-5-list-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 21em;
}

.main-block-5-list-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-block-5-item {
    float: left;
    margin-left: 0.5em;
}

.main-block-5-item:last-child {
    padding-right:1em;
}

.main-block-5-item-a {
    float: left;
    width: 100%;
    text-decoration: none;
    color: #000;
    display: block;
}

.main-block-5-item-img {
    float: left;
    width: 9.3em;
    height: 12.3em;
    margin-top: 24px;
    border-radius: 1.4em;
    background-size: contain;
    background-position: center 2em;
    box-shadow: 0.5em 0.5em 1em rgb(0 0 0 / 10%);
    background-repeat: no-repeat;
    background-color: #fff;
}




.main-block-5-butt {
    margin-top: -2.2em;
    float: left;
    width: 100%;
}

.main-block-5-a {

}






.main-block-6 {
    float: left;
    width: 100%;
    max-width: 100vw;
    padding-bottom:3em;
}

.main-block-6-text {
    font-family: "FuturaMdBT", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 1.6em 0 0 1em;
    font-size: 1.13em;
    padding: 0 3em 0 0;
}

.main-block-6-butt {
    margin-top: -1em;
    float: left;
    width: 100%;
}

.main-block-6-list {
    float: left;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    height: 20em;
}

.main-block-6-list-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
    padding-left: 0.5em;
    padding-right: 0.5em;
    height: 21em;
}

.main-block-6-list-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-block-6-item {
    float: left;
    margin-left: 0.5em;
    min-width: 15em;
}

.main-block-6-item:last-child {
    /*padding-right:1em;*/
}

.main-block-6-item-a {
    float: left;
    width: 100%;
    text-decoration: none;
    color: #000;
    display: block;
}



.main-block-6-item-img {
    float: left;
    width: 13.3em;
    height: 12.3em;
    margin-top: 24px;
    border-radius: 1.4em;
    background-size: cover;
    box-shadow: 0.5em 0.5em 1em rgb(0 0 0 / 19%);
}

.main-block-6-item-title {
    display: block;
    float: left;
    width: 95%;
    padding: 0.8em 0 0.4em 0;
    line-height: 1.1;
}

.main-block-6-item-date {
    font-size:0.9em;
}


.main-block-6-a {
    padding:0 2em;
}








footer{
    float:left;
    width:100%;
    max-width:100vw;
    background: linear-gradient(to bottom, rgba(49, 113, 184, 0.6) 0%,rgba(52, 185, 239, 0.6) 100%);
}


.popupmenu-left-body {
    background: linear-gradient(to bottom, rgba(49, 113, 184, 0.6) 0%,rgba(52, 185, 239, 0.6) 100%);
}

.footer {
}

.footer-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.popupmenu-left-open .footer-wrap {
    min-height:100vh;
}

.footer-logo {
    margin-top: 1.3em;
}

.footer-logo-a {
    display: table;
}

.footer-logo-img {
    width: 7.5em;
}


.footer-phone {

}

.footer-phone-a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9em;
    line-height: 1.6em;
}

.footer-button3 {
    margin-top: 0.3em;
    margin-bottom: 2em;
}

.footer-button3-a {
    display: table;
    text-decoration: none;
    color: rgba(49, 113, 184, 1);
    background-color: #fff;
    font-weight: bold;
    font-size: 0.8em;
    line-height: 1.8em;
    padding: 0 1em;
    border-radius: 0.6em;
    box-shadow:0 0 0 0.1em rgba(49, 113, 184, 1);
}


.footer-nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.footer-nav a {
    width: calc(50% - 1.5em);
    text-decoration: none;
    color: #fff;
    font-size: 0.7em;
    line-height: 2.13em;
    padding-left: 1.5em;
}

.footer-img {

}

.footer-img img {
    width: 9em;
}











/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* POPuP MENU LEFT RIGHT */

body.popupmenu-left-open,
body.popupmenu-right-open {
    overflow: hidden;
    height: 100%;
}


.popupmenu-left,
.popupmenu-right {
    width: 100vw;
    height: 100vh;
    z-index: 5501;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    overflow: visible;
    overflow-anchor: none;
    -webkit-backface-visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
    transform: translate3d(-100vw,0,0);
}
.popupmenu-right {
    transform: translate3d(100vw,0,0);
}

.popupmenu-left-open .popupmenu-left,
.popupmenu-right-open .popupmenu-right {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    transition: opacity 0.2s ease-out,transform 0.2s ease-out;
}

.popupmenu-after {
    content: '';
    z-index: 0;
    top: 0;
    bottom: 0;
    left: -100vw;
    right: 0;
    width: 100vw;
    position: fixed;
    background: rgba(0,0,0,0.75);
    opacity: 0;
    transition: opacity 0.2s ease-out;
    z-index:5499;
}

.popupmenu-after.popupmenu-after-display {
    left:0;
}

.popupmenu-left-open .popupmenu-after,
.popupmenu-right-open .popupmenu-after {
    left:0;
    opacity: 1;
    transition: opacity 0.2s linear;
}



.popupmenu-left-body,
.popupmenu-right-body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    z-index: 1;
    position: relative;
    padding: 0;
}

.popupmenu-left-close,
.popupmenu-right-close {
    float: right;
    width: 2em;
    height: 2em;
    position: fixed;
    right: 0;
    font-size: 2em;
    top: 0;
    text-align: center;
    padding-top: 0.5em;
}





















/* ------ Desktop --------*/


@media (min-width: 1000px) {

    .mobileonly {
        display: none;    
    }

    .desktoponly {
        display: block;    
    }
        

    body {
        font-size: 24px;
        background-color:#F2F2F2;
        background-image: url(../images/background.png);
        background-position:top center;
        background-repeat: repeat-x;
    }

    .body-wrap {
        display: block;
        width: 990px;
        margin: 0 auto;
        position: relative;
    }

    .slider img {
        width: auto;
    }

    .slider-mobile {

    }

    .bluebutton {
        border-radius: 2em;
        font-size: 0.6em;
        font-weight: normal;
        padding: 0 2em;
        box-shadow: inset -0.3em -0.2em 0.7em rgb(0 0 0 / 22%);
    }

    .bluebutton:hover {
        box-shadow: inset -0.3em -0.2em 0.7em rgb(0 0 0 / 22%), inset 0.1em 0.1em 0.2em rgb(0 0 0 / 33%);
    }

    .header-top {
        background-color: #F3F7F8;
        box-shadow: 0 0.1em 0.2em rgb(0 0 0 / 22%);
    }

    .header-burger {
        display: none;
    }

    .header-body {
        height: 3em;
    }

    .header-button3 {
        display:none;
    }

    .header-phone {
        margin: 1.2em 0 0 0;
    }

    .header-phone-a {
        font-size: 0.93em;
        font-weight: normal;
    }

    .header-logo {
        float: left;
        margin: 0.5em 0 0 0.2em;
    }

    .header-logo-img {
        width: 7.5em;
    }

    .header-button,
    .header-button2 {
        display: block;
        float: right;
    }

    .header-button {
        margin: 0.8em 1.2em 0 0;
    }

    .header-button2 {
        margin: 0.8em 0.8em 0 0;
    }

    .header-button-a {
        background-color: rgba(121, 188, 249, 1);
        border-radius: 1.2em;
        color: #fff;
        text-decoration: none;
        line-height: 2em;
        display: block;
        padding: 0 1.6em;
        font-size: 0.65em;
        box-shadow: inset -0.3em -0.2em 0.7em rgb(0 0 0 / 22%);
    }

    .header-button-a:hover {
        box-shadow: inset -0.3em -0.2em 0.7em rgb(0 0 0 / 22%), inset 0.1em 0.1em 0.2em rgb(0 0 0 / 33%);
        }

    .header-button2-a {
        background-color: rgba(49, 113, 184, 1);
        border-radius: 1.2em;
        color: #fff;
        text-decoration: none;
        line-height: 2em;
        display: block;
        padding: 0 1.4em;
        font-size: 0.65em;
    }

    .header-button2-a:hover {
        box-shadow: inset 0 0 0.7em rgba(52, 185, 239, 1);
    }










    .header-nav-desktop {
        float:left;
        width:100%;
        display: block;
        background-color:rgba(49, 113, 184, 0.8); 
    } 
         
    .header-nav-desktop-ul {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }

    .header-nav-desktop-li {
        line-height: 3em;
        font-size: 0.6em;
    }


    .header-nav-desktop-li.header-nav-desktop-li-active:after {
        content: url(../images/Chevron_Bottom.png);
        position: absolute;
        margin-top: 0.4em; 
    }

    .header-nav-desktop-ul a {
        text-decoration:none;
        color:#fff;
        text-shadow:0 0 0.5em rgba(25, 71, 190, 1);
    }






    .slider-aside {
        float:left;
        width:100%;
    }

    .slider-desktop {
        display: block;
        height: 12.4em;
        width:100%;
        float:left;
    }

    .slider-desktop .swiper-slide {
        float: left;
        height: 12.4em;
        width: 100%;
        background-position: center center;
        background-size: cover;
    }


    .slider-desktop .swiper-button-next,
    .slider-desktop .swiper-button-prev {
            width:auto;
        height:auto;
    }

    .slider-desktop .swiper-button-next:after {
        content: url('../images/slider-next.svg');
    }

    .slider-desktop .swiper-button-next:hover:after {
        content: url('../images/slider-next2.svg');
    }

    .slider-desktop .swiper-button-prev:after {
        content: url('../images/slider-prev.svg');
    }

    .slider-desktop .swiper-button-prev:hover:after {
        content: url('../images/slider-prev2.svg');
    }



    .main-block-1 {
        padding-bottom: 1.9em;
    }

    .main-block-1 h1 {
        text-align: center;
        font-size: 1.2em;
        margin-top: -0.5em;
    }

    .main-blick-1-ul {
        display: flex;
        width: 100%;
        max-width: 100%;
        flex-direction: row;
        font-weight: normal;
        font-size: 0.75em;
        padding-top: 0.4em;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-blick-1-li {
        width: calc(50% - 1.7em);
        margin: 1.4em 0em 0 0.4em;
        box-shadow: 0 0 0 0.05em rgba(49, 113, 184, 1), -0.5em -0.5em 1em #fff, 0.5em 0.5em 1em rgb(0 0 0 / 17%);
    }










    .main-block-3 {
        background-image:url(../images/block3-background.jpg);
        background-repeat: no-repeat;
        background-position:center;
        height: 360px;
    }


    .main-block-3-img {
        display: none;

    }

    .main-block-3-text {
        float: right;
        width: 13.2em;
        margin: 1.8em 0 0 0;
        position: relative;
        z-index:2;
    }

    .main-block-3-text h2 {
        font-size: 1.15em;
        padding: 0 0.8em;
    }

    .main-block-3-text ul {
        padding: 0.3em 1.3em;
        font-size: 0.69em;
        line-height: 2em;
    }

    .main-block-3-text ul li {
        line-height:1.4em;
    }

    .main-block-3-text li.nomarker {
        margin-bottom: 0.8em;
    }

    .main-block-3-a {
        margin-top:2em;
    }

    .main-block-3-text li.marker {
        background-image: url(../images/circle.svg);
    }

    .main-block-3-circle1,
    .main-block-3-circle2 {
        position: absolute;
        width: 7.2em;
        height: 7.2em;
        background-color: rgba(52, 185, 239, 0.6);
        background: linear-gradient(to bottom, rgba(49, 113, 184, 0.6) 0%,rgba(52, 185, 239, 0.6) 100%);
        border-radius: 50%;
        right: 7em;
        top: 0.3em;
    }

    .main-block-3-circle2 {
        width: 4em;
        height: 4em;
        right: 11.2em;
        top: 4.5em;
    }







    .main-block-4 .body-wrap {
        height: 18em;
        background-image:url(../images/Group4892-2.png);
        background-repeat: no-repeat;
        background-position:center;
        background-size:contain;

    }
    
    .main-block-4-text {
        display: none;
        float:right;
    }


    .main-block-4-img {
        display:none;
    }





    .main-block-5 {
        background-image: url(../images/Group_513-width.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 23.5em;
        position: relative;
    }

    .main-block-5-img {
        float: left;
        width: 13em;
        margin-top: 0em;
    }

    .main-block-5-text {
        margin: 2.7em 0 0 5.6em;
        font-size: 1.2em;
    }

    .main-block-5-butt {
        margin-top: 2.1em;
        float: none;
        width: auto;
        margin-left: 14em;
        position: absolute;
        z-index: 2;
    }

    .main-block-5-butt .bluebutton {
        padding:0 3.5em;
        font-size:0.7em;
    }

    .main-block-5-list {
        width: 25em;
        max-width: 25em;
        margin-top: 3em;
    }

    .main-block-5-item.swiper-slide {
        width: auto;
        margin:0;
    }

    .main-block-5-item-a {
        transform: scale(0.7);
        transition: transform 0.2s linear;
    }

    .main-block-5-item-center .main-block-5-item-a  {
        transform: scale(1.1);
        transition: transform 0.2s linear;
    }

    .main-block-5-item-img {
        margin-top: 0;
    }





    .main-block-5 .carusell {
        position: absolute;
        width: 27em;
        padding: 3em 2em 3em 0;
        left: -1.5em;
        top: 3em;
    }

    .carusell .swiper-button-prev,
    .carusell .swiper-button-next {
        bottom: 5.3em;
        top: auto;
        width: 1em;
        height: 1em;
        background-color: rgba(130, 175, 215, 1);
        box-shadow: inset 0.1em 0.1em 0.2em rgb(0 0 0 / 40%);
        left: 50%;
        padding: 0.5em;
        border-radius: 50%;
        font-size: 0.55em;
    }

    .carusell .swiper-button-prev:hover,
    .carusell .swiper-button-next:hover {
        background-color: rgba(52, 185, 239, 1);
        box-shadow: 0.5em 0.5em 2em rgb(0 0 0 / 20%);
    }


    .carusell .swiper-button-prev {
        margin-left: 2em;
        content: url(../images/arraw-left.svg);
        padding: 0.5em 0.6em 0.5em 0.4em;
    }

    .carusell .swiper-button-next {
        margin-left: 5em;
        content: url(../images/arraw-right.svg);
        padding: 0.5em 0.4em 0.5em 0.6em;
    }












    .main-block-6 {
        padding-top: 4.7em;
        position: relative;
        padding-bottom: 2em;
    }

    .main-block-6-list-wrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }


    .main-block-6-text {
        margin: 1.55em 0 0 0.3em;
        font-size: 1.16em;
    }

    .main-block-6-butt {
        position: absolute;
        right: 1em;
        width: auto;
        margin-top: -1.3em;
    }


    .bluebutton.main-block-6-a {
        padding: 0 6em;
        font-size: 0.7em;
    }

    .main-block-6-item-title {
        font-size: 0.7em;
        width: 70%;
        padding: 1.7em 30% 0 0;
    }

    .main-block-6-item-date {
        font-size: 0.5em;
        display: block;
        float: left;
        width: 100%;
        margin-top: 0.5em;
    }


    .main-block-6-list {
        height: 16em;
        width:100%;
        margin: 0.5em 0 0 0.5em;
        width: calc(100% - 0.5em);
    }

    .main-block-6-item {
        margin: 0;
        width:33%;
        min-width:33%;
        padding-bottom: 2em;
    }

    .main-block-6-item-img {
        width:11em;
        height:11em;
    }

    .main-block-6-item-a:after {
        content: '';
        float: right;
        width: 1.1em;
        height: 1.1em;
        background-image: url(../images/arraw-right.svg);
        background-repeat: no-repeat;
        background-position: 54% center;
        background-size: 0.8em;
        margin: -3.5em 3.2em 0 0;
        background-color: rgba(130, 175, 215, 1);
        box-shadow: inset 0.1em 0.1em 0.2em rgb(0 0 0 / 40%);
        border-radius: 50%;
        font-size: 0.45em;
        padding: 0.7em;

    }

    .main-block-6-item-a:hover:after {
        background-color: rgba(52, 185, 239, 1);
        box-shadow: 0.5em 0.5em 2em rgb(0 0 0 / 20%);
    }



    .main-block-6-list-scroll {
        height: 17em;
        padding:0;
        overflow: visible;
    }

    .main-block-6-item:last-child {
        padding-right: 0;
    }








    .footer-wrap {
        display:block;
    }

    .footer-right {
        float: right;
        font-size: 0.9em;
    }
    
    .footer-logo {
        margin-top: 0.8em;
    }

    .footer-phone{
        text-align: center;
        margin-top: -0.3em;
    }

    .footer-phone-a {
        font-size: 0.6em;
    line-height: 0.6em;
    }

    .footer-button3-a {
        font-size: 0.7em;
        border-radius: 2em;
        font-weight: normal;
        padding: 0 1.8em;
    }




    .footer-nav {
        display: block;
        float: left;
        width: 52%;
        margin-top: 1.5em;
    }

    .footer-nav a {
        float: left;
        width: 33%;
        padding-left: 0;
        font-size: 0.48em;
        line-height: 1.3em;
    }
    
    .footer-nav a:hover {
        color:#000;
    }

    .footer-img {
        float: left;
        margin: 1em 0 0 -1.5em;
        width: 3em;
    }

    .footer-img img {
        width: 7em;
    }

    .footer-img2 {
        margin: -1em -7em 0 4em;
        float: left;
    }

    .footer-img2 img {
        width:5em;
    }



}








@media (min-width: 1220px) {

    body {
        font-size: 32px;
    }

    .body-wrap {
        display: block;
        width: 1200px;
        margin: 0 auto;
    }

}