
body {
    font-size: 16px;
}




/* Меню для десктопа */
header {
    position: static;
}

.header__menu nav {
    display: none;
}

.basket {
    display: none;
}






/* Логотип, и кнопка открыть меню */

.header__logo {
    position: absolute;
    left: 8px;
    top: 17px;
    width: 158px;
}

.header__burger {
    position: absolute;
    right: 19px;
    top: 17px;
    width: 22px;
}

.mob__menu {
    left: unset;
    right: -100vw;
    flex-wrap: wrap;
    min-width: unset;
    width: 100vw;
}



/* Блок доставка-самовывоз */
.header__menu {
    position: absolute;
    left: 21px;
    top: 72px;
}

/* Если страница пролистана вниз, то вообще скрываем этот блок */
/*
.scroll__bg-color .header__menu {
    display: none;
}
*/


.header__menu-right {
    display: block;
}

.menu__item + .menu__item {
    margin-left: 0;
}

.header__menu-left {
    margin-bottom:0;
}

.header__menu-left {
    font-size:16px;
}

.menu__item {
    font-size: 16px;
    line-height: 1;
    margin-top: 11px;
}

.menu__item .menu__item-circle {
    width: 25px;
    height: 25px;
}





/* Меню (выезжающее) */
.mob__menu {
    padding: 80px 10px 40px 10px;
    min-height: 100vh;
}

.mob__close {
    top: 14px;
    right: 13px;
    transform: scale(.8);
}


.mob__menu-list a {
    font-size: 18px;
}

.mob__app-box a {
    font-size:12px;
}







/* Слайдер */
.main__slide-cnt .main__slide-title {
    font-size: 17px;
    width: 229px;
    margin-bottom: 6px;
}

.main__slide-cnt {
    width: 100%
}

.main__slider-wrapper {
    padding-top: 163px;
    margin-bottom: 87px;
}

.main__slide-cnt .main__slide-info {
    font-size: 14px;
}

.main__slide {
    height: calc(79vw);
    min-height: 252px;
    padding: 30px 15px 20px 20px;
}


.main__slider-container .swiper-button-prev, 
.main__slider-container .swiper-container-rtl .swiper-button-next {
    right: auto;
    left:20px;
    bottom:8px;
    background-size:45px;
}

.main__slider-container .swiper-button-next, 
.main__slider-container .swiper-container-rtl .swiper-button-prev {
    right: 20px;
    bottom:8px;
    background-size:45px;
}

.main__slide-btn {
    position:absolute;
    bottom:55px;
    font-size: 14px;
}

.prod__card {
    width: calc(50% - 15px);
    margin: 5px;
    border-radius: 10px;
    height: calc(200px + 40vw);
}


.products {
    margin: 0 -15px 0 -5px;
}






/* Наименования */

h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.card__contents .card__img {
    margin-bottom: 0px;
}

.prod__name {
    font-size: 13px;
    margin-bottom:8px;
}

.prod__info {
    font-size:12px;
    margin-top:8px;
}

.card__contents-top {
    margin-bottom: 0px;
    min-height: 62px;
}

.card__delivery {
    margin-top: 8px;
    margin-bottom: 10px;
}

.card__delivery p {
    font-size: 7px;
}

.basket-quantity__box {
    display:none;
}

.prod__price {
    font-size: 14px;
}

.card__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    flex-direction: column;
}

.compound {
    font-size: 13px;
}

.in-basket {
    border-radius: 12px;
}




.products__wrapper + .products__wrapper {
    padding-top: 72px;
    margin-top:0;
}



/* фиксирующееся меню */

.mobile__menufixed {
    position: sticky;
    top: 0;
    background-color: rgb(0 0 0 / 65%);
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-top: -65px;
    margin-bottom: 15px;
    z-index: 1;
}

.mobile__menufixed-body {
    width: 100%;
    overflow-x: scroll;
    position: relative;
    height: 80px;
}

.mobile__menufixed-body2 {
    display: flex;
    white-space: nowrap;
    margin: 8px 15px;
    flex-direction: row;
    flex-wrap: nowrap;
}

.mobile__menufixed a {
    font-size: 12px;
    font-family: "Geologica-Regular";
    font-size: 16px;
    color: #fff;
    border-radius: 19px;
    line-height: 34px;
    float: left;
    padding: 0 15px 3px;
    margin-right: 7px;
}


.mobile__menufixed a.activate {
    background-color: rgba(232, 34, 47, 1);
}










/* низ страницы */

.footer__info .footer__app-link {
    display: none;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}


.footer__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: auto;
}

.footer__menu {
    width: 100%;
    height: 222px;
}

.footer__copy a + a {
    margin: 0;
}

.footer__copy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.footer__logo {
    margin:40px auto;
}























