@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}

img {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

ul {
  list-style: none;
}

body * {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  text-align: inherit;
  color: inherit;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter-Regular.woff") format("woff");
}
@font-face {
  font-family: "Geologica-ExtraLight";
  src: url("../fonts/Geologica-ExtraLight.woff") format("woff");
}
@font-face {
  font-family: "Geologica-Regular";
  src: url("../fonts/Geologica-Regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik-Regular";
  src: url("../fonts/Rubik-Regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik-Medium";
  src: url("../fonts/Rubik-Medium.woff") format("woff");
}
@font-face {
  font-family: "Rubik-Bold";
  src: url("../fonts/Rubik-Bold.woff") format("woff");
}
@font-face {
  font-family: "Rubik-ExtraBold";
  src: url("../fonts/Rubik-ExtraBold.woff") format("woff");
}
/*цвета*/
/*шрифты*/
.footer__info .footer__app-link, .in-basket {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  font-family: "Geologica-ExtraLight";
  padding: 6px 28px;
  border-radius: 17px;
  background-color: #E8222F;
  transition: all 0.5s;
  border: 1px solid #E8222F;
}
.footer__info .footer__app-link:hover, .in-basket:hover {
  background-color: transparent;
  color: #fff;
}
@media (max-width: 1300px) {
  .footer__info .footer__app-link, .in-basket {
    font-size: 16px;
  }
}
@media (max-width: 1150px) {
  .footer__info .footer__app-link, .in-basket {
    font-size: 15px;
    padding: 6px 15px;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("../images/sitebg.webp");
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;
}

body > main {
  flex-grow: 1;
}

.container {
  max-width: 1254px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1300px) {
  .container {
    max-width: 100%;
    padding: 0 38px;
  }
}
@media (max-width: 1100px) {
  .container {
    padding: 0 15px;
  }
}

h2 {
  color: #fff;
  text-shadow: 0px 2px 4px #000;
  font-family: "Rubik-ExtraBold";
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
@media (max-width: 1400px) {
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 1200px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 1100px) {
  h2 {
    font-size: 26px;
  }
}

h3 {
  color: #fff;
  font-family: "Rubik-ExtraBold";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  font-family: "Geologica-Regular";
  color: #fff;
}

p + p {
  margin-top: 15px;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  margin: 0 auto;
  transition: all 0.5s;
}
header.scroll__bg-color {
  background-color: #111;
}

.header__cnt {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 38px 15px 33px 15px;
  width: 1460px;
  margin: 0 auto;
}
@media (max-width: 1460px) {
  .header__cnt {
    padding: 20px 15px 20px 15px;
    width: 100%;
  }
}
@media (max-width: 1100px) {
  .header__cnt {
    justify-content: flex-end;
    align-items: center;
    padding: 10px 15px;
  }
}

.header__burger {
  display: block;
  position: relative;
  width: 30px;
  height: 28px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .header__burger {
    width: 25px;
    height: 20px;
  }
}
@media (max-width: 1100px) {
  .header__burger {
    order: 2;
  }
}

.header__burger span {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  right: 0;
  top: 13px;
  transition: all 0.5s ease 0s;
}
@media (max-width: 1200px) {
  .header__burger span {
    top: 9px;
  }
}

.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  right: 0;
  transition: all 0.5s ease 0s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger.active-burger span {
  transform: scale(0);
}

.header__burger.active-burger::before {
  transform: rotate(45deg);
  top: 13px;
}
@media (max-width: 1200px) {
  .header__burger.active-burger::before {
    top: 9px;
  }
}

.header__burger.active-burger::after {
  transform: rotate(-45deg);
  bottom: 13px;
}
@media (max-width: 1200px) {
  .header__burger.active-burger::after {
    bottom: 9px;
  }
}

.basket {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 68px;
  padding: 6px 8px 8px 8px;
  border-radius: 18px;
  border: 2px solid #fff;
}
.basket img {
  width: 24px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1100px) {
  .basket img {
    width: 18px;
  }
}
@media (max-width: 1100px) {
  .basket {
    margin: 0 30px;
  }
}

.basket__name, .basket__value {
  line-height: normal;
  font-weight: 400;
  font-family: "Rubik-Regular";
  color: #fff;
}

.basket__name {
  font-size: 13px;
}
@media (max-width: 1100px) {
  .basket__name {
    font-size: 12px;
  }
}

.basket__value {
  font-size: 16px;
  margin-top: 2px;
}
@media (max-width: 1460px) {
  .basket__value {
    font-size: 15px;
  }
}
@media (max-width: 1300px) {
  .basket__value {
    font-size: 14px;
  }
}
@media (max-width: 1100px) {
  .basket__value {
    font-size: 13px;
  }
}

.header__logo {
  display: block;
  width: 174px;
  height: auto;
  align-self: center;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1460px) {
  .header__logo {
    width: 150px;
  }
}
@media (max-width: 1300px) {
  .header__logo {
    width: 140px;
  }
}
@media (max-width: 1200px) {
  .header__logo {
    width: 120px;
  }
}
@media (max-width: 1100px) {
  .header__logo {
    order: -1;
    margin-right: auto;
  }
}

.header__menu nav {
  margin-bottom: 13px;
}
@media (max-width: 1460px) {
  .header__menu nav {
    margin-bottom: 10px;
  }
}
@media (max-width: 1100px) {
  .header__menu nav {
    display: none;
  }
}

.header__list {
  display: flex;
  align-items: center;
}
.header__list li + li {
  margin-left: 20px;
}
@media (max-width: 1300px) {
  .header__list li + li {
    margin-left: 15px;
  }
}
@media (max-width: 1200px) {
  .header__list li + li {
    margin-left: 10px;
  }
}
.header__list li:nth-child(1) a {
  border: 2px solid #FBFBFB;
  border-radius: 500px;
  padding: 6px 10px;
}
.header__list li:nth-child(1) a:hover {
  border-color: #E8222F;
}
@media (max-width: 1460px) {
  .header__list li:nth-child(1) a {
    padding: 5px 8px;
  }
}
@media (max-width: 1300px) {
  .header__list li:nth-child(1) a {
    padding: 5px;
    border-radius: 15px;
  }
}
.header__list a {
  font-size: 16px;
  line-height: normal;
  font-weight: 400;
  font-family: "Geologica-Regular";
  color: #fff;
  display: inline-block;
  transition: all 0.5s;
}
.header__list a:hover {
  color: #E8222F;
}
@media (max-width: 1460px) {
  .header__list a {
    font-size: 15px;
  }
}
@media (max-width: 1300px) {
  .header__list a {
    font-size: 14px;
  }
}

.header__menu-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1100px) {
  .header__menu-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
}

.header__menu-left {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: normal;
  font-family: "Geologica-Regular";
}
@media (max-width: 1460px) {
  .header__menu-left {
    font-size: 15px;
  }
}
@media (max-width: 1300px) {
  .header__menu-left {
    font-size: 14px;
  }
}
@media (max-width: 1100px) {
  .header__menu-left {
    margin-bottom: 10px;
  }
}

.header__menu-right {
  display: flex;
  align-items: center;
}

.menu__item + .menu__item {
  margin-left: 32px;
}

.menu__item {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  font-family: "Geologica-Regular";
  transition: all 0.5s;
  cursor: pointer;
}
.menu__item input {
  display: none;
}
.menu__item .menu__item-circle {
  width: 24px;
  height: 24px;
  transition: all 0.5s;
  border-radius: 50%;
  border: 2px solid #fff;
  position: relative;
  margin-left: 8px;
}
.menu__item .menu__item-circle::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #E8222F;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.5s;
}
@media (max-width: 1460px) {
  .menu__item .menu__item-circle::before {
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 1460px) {
  .menu__item .menu__item-circle {
    width: 20px;
    height: 20px;
  }
}
.menu__item.menu__item-active {
  color: #E8222F;
}
.menu__item.menu__item-active .menu__item-circle {
  border-color: #E8222F;
}
.menu__item.menu__item-active .menu__item-circle::before {
  content: "";
  opacity: 1;
}
@media (max-width: 1460px) {
  .menu__item {
    font-size: 15px;
  }
}
@media (max-width: 1300px) {
  .menu__item {
    font-size: 14px;
  }
}

/*mob menu*/
.mob__menu {
  min-width: 1030px;
  min-height: 740px;
  display: flex;
  align-items: flex-end;
  background-color: #1D1D1D;
  padding: 40px 94px 137px 124px;
  position: fixed;
  top: 0;
  left: -2000px;
  transition: all 0.5s;
}
.mob__menu.active-burger {
  left: 0;
}
@media (max-width: 1100px) {
  .mob__menu.active-burger {
    left: unset;
    right: 0;
  }
}
@media (max-width: 1500px) {
  .mob__menu {
    min-height: 640px;
    min-width: 910px;
  }
}
@media (max-width: 1400px) {
  .mob__menu {
    min-height: 550px;
    min-width: 770px;
    padding: 40px 80px 80px 60px;
  }
}
@media (max-width: 1300px) {
  .mob__menu {
    min-height: 475px;
    min-width: 655px;
  }
}
@media (max-width: 1200px) {
  .mob__menu {
    min-height: 435px;
    min-width: 575px;
  }
}
@media (max-width: 1100px) {
  .mob__menu {
    left: unset;
    right: -2000px;
    flex-wrap: wrap;
    min-width: unset;
    width: 575px;
  }
}

.mob__app-box {
  display: none;
  margin-top: 15px;
  width: 100%;
}
@media (max-width: 1100px) {
  .mob__app-box {
    display: flex;
  }
}
.mob__app-box a {
  color: #fff;
  font-family: "Geologica-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding: 8px 16px;
  border: 2px solid #fff;
  border-radius: 500px;
}

.mob__close {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.mob__close::before, .mob__close::after {
  content: "";
  width: 33px;
  height: 2px;
  position: absolute;
  background-color: #AEAEAE;
}
.mob__close::before {
  top: 12px;
  left: -3px;
  transform: rotate(45deg);
}
.mob__close::after {
  top: 12px;
  right: -4px;
  transform: rotate(-45deg);
}

.mob__menu-list li + li {
  margin-top: 13px;
}
.mob__menu-list a {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  font-weight: 800;
  line-height: normal;
  font-size: 50px;
  font-family: "Rubik-ExtraBold";
}
@media (max-width: 1500px) {
  .mob__menu-list a {
    font-size: 40px;
  }
}
@media (max-width: 1400px) {
  .mob__menu-list a {
    font-size: 35px;
  }
}
@media (max-width: 1300px) {
  .mob__menu-list a {
    font-size: 28px;
  }
}
@media (max-width: 1200px) {
  .mob__menu-list a {
    font-size: 24px;
  }
}

.mob__logo {
  display: block;
  width: 198px;
  height: auto;
}
.mob__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1300px) {
  .mob__logo {
    width: 170px;
  }
}
@media (max-width: 1200px) {
  .mob__logo {
    width: 140px;
  }
}

/*main*/
.app__link-box {
  top: 331px;
  left: 102px;
  position: fixed;
  border-radius: 500px;
  border: 2px solid #fff;
  z-index: 10;
  transition: all 0.5s;
  width: 48px;
  height: 311px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  font-family: "Geologica-Regular";
}
.app__link-box:hover {
  color: #111;
  background-color: #E8222F;
  border: 2px solid #E8222F;
}
@media (max-width: 1700px) {
  .app__link-box {
    left: 50px;
  }
}
@media (max-width: 1500px) {
  .app__link-box {
    left: 15px;
  }
}
@media (max-width: 1400px) {
  .app__link-box {
    font-size: 14px;
    height: 265px;
    width: 30px;
    left: 5px;
  }
}
@media (max-width: 1100px) {
  .app__link-box {
    display: none;
  }
}

.app__link {
  transform: rotate(270deg);
  width: 271px;
  height: 20px;
  position: absolute;
  line-height: 100%;
  font-size: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  font-family: "Geologica-Regular";
}
@media (max-width: 1400px) {
  .app__link {
    font-size: 14px;
    width: 238px;
    height: 16px;
  }
}

.main__slider-wrapper {
  padding-top: 185px;
  margin-bottom: 159px;
}
@media (max-width: 1460px) {
  .main__slider-wrapper {
    padding-top: 150px;
  }
}
@media (max-width: 1100px) {
  .main__slider-wrapper {
    padding-top: 120px;
    margin-bottom: 100px;
  }
}

.main__slider-container {
  position: relative;
  width: 84%;
  margin-left: auto;
  border-radius: 25px 0px 0px 25px;
  overflow: hidden;
}
@media (max-width: 1700px) {
  .main__slider-container {
    width: 88%;
  }
}
@media (max-width: 1600px) {
  .main__slider-container {
    width: 91%;
  }
}
@media (max-width: 1500px) {
  .main__slider-container {
    width: 93%;
  }
}
@media (max-width: 1100px) {
  .main__slider-container {
    width: 100%;
    border-radius: 0;
  }
}

.main__slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 682px;
  padding: 70px 50px 50px 103px;
}
@media (max-width: 1400px) {
  .main__slide {
    min-height: 650px;
    padding: 70px 50px 50px 70px;
  }
}
@media (max-width: 1200px) {
  .main__slide {
    min-height: 590px;
    padding: 70px 50px 50px 70px;
  }
}
@media (max-width: 1100px) {
  .main__slide {
    min-height: 510px;
    padding: 50px 20px 40px 20px;
  }
}

.main__slide-cnt {
  width: 790px;
}
.main__slide-cnt .main__slide-title {
  color: #fff;
  font-family: "Rubik-ExtraBold";
  font-size: 36px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 1400px) {
  .main__slide-cnt .main__slide-title {
    font-size: 32px;
  }
}
@media (max-width: 1200px) {
  .main__slide-cnt .main__slide-title {
    font-size: 28px;
  }
}
@media (max-width: 1100px) {
  .main__slide-cnt .main__slide-title {
    font-size: 25px;
  }
}
.main__slide-cnt .main__slide-info {
  color: #fff;
  font-family: "Rubik-Regular";
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}
@media (max-width: 1400px) {
  .main__slide-cnt .main__slide-info {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .main__slide-cnt .main__slide-info {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  .main__slide-cnt .main__slide-info {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  .main__slide-cnt {
    width: 730px;
  }
}
@media (max-width: 1100px) {
  .main__slide-cnt {
    width: 680px;
  }
}

.main__slide-btn {
  position: relative;
  transition: all 0.5s;
  color: #E8222F;
  font-size: 18px;
  line-height: normal;
  font-weight: 400;
  font-family: "Geologica-Regular";
  display: inline-block;
}
.main__slide-btn::before {
  content: "";
  position: absolute;
  width: 49px;
  height: 54px;
  right: -40px;
  bottom: -15px;
  transition: all 0.5s;
  background-image: url("../images/mainslidebtn.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
@media (max-width: 1100px) {
  .main__slide-btn::before {
    width: 41px;
    height: 45px;
    right: -30px;
  }
}
.main__slide-btn:hover::before {
  right: -25px;
}
@media (max-width: 1100px) {
  .main__slide-btn {
    font-size: 16px;
  }
}

.main__slider-container .swiper-button-prev:after, .main__slider-container .swiper-container-rtl .swiper-button-next:after {
  content: "";
}

.main__slider-container .swiper-button-next:after, .main__slider-container .swiper-container-rtl .swiper-button-prev:after {
  content: "";
}

.main__slider-container .swiper-button-prev, .main__slider-container .swiper-container-rtl .swiper-button-next {
  width: 80px;
  height: 16px;
  background-image: url("../images/mainsliderleft.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  transition: all 0.5s;
  left: unset;
  right: 364px;
  top: unset;
  bottom: 44px;
  margin-top: unset;
  z-index: 1;
  opacity: 0.7;
}
.main__slider-container .swiper-button-prev:hover, .main__slider-container .swiper-container-rtl .swiper-button-next:hover {
  opacity: 1;
}
.main__slider-container .swiper-button-prev::before, .main__slider-container .swiper-container-rtl .swiper-button-next::before {
  content: "";
  position: absolute;
  height: 54px;
  width: 49px;
  left: -25px;
  z-index: -1;
  background-image: url("../images/mainsliderleftcircle.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s;
  opacity: 0;
}
.main__slider-container .swiper-button-prev:hover::before, .main__slider-container .swiper-container-rtl .swiper-button-next:hover::before {
  opacity: 1;
}
@media (max-width: 1300px) {
  .main__slider-container .swiper-button-prev, .main__slider-container .swiper-container-rtl .swiper-button-next {
    right: 220px;
  }
}

.main__slider-container .swiper-button-next, .main__slider-container .swiper-container-rtl .swiper-button-prev {
  width: 80px;
  height: 16px;
  background-image: url("../images/mainsliderright.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  margin-top: unset;
  transition: all 0.5s;
  right: 256px;
  top: unset;
  bottom: 44px;
  z-index: 1;
  opacity: 0.7;
}
.main__slider-container .swiper-button-next:hover, .main__slider-container .swiper-container-rtl .swiper-button-prev:hover {
  opacity: 1;
}
.main__slider-container .swiper-button-next::before, .main__slider-container .swiper-container-rtl .swiper-button-prev::before {
  content: "";
  position: absolute;
  height: 54px;
  width: 49px;
  right: -25px;
  z-index: -1;
  background-image: url("../images/mainsliderrightcircle.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.5s;
  opacity: 0;
}
.main__slider-container .swiper-button-next:hover::before, .main__slider-container .swiper-container-rtl .swiper-button-prev:hover::before {
  opacity: 1;
}
@media (max-width: 1300px) {
  .main__slider-container .swiper-button-next, .main__slider-container .swiper-container-rtl .swiper-button-prev {
    right: 100px;
  }
}

.products__wrapper + .products__wrapper {
  margin-top: 72px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: -12px;
}

.prod__card {
  width: calc(25% - 24px);
  margin: 12px;
  height: 565px;
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 23px;
  transition: all 1s ease;
  transform-style: preserve-3d;
  position: relative;
}
.prod__card:hover {
  border-color: #E8222F;
}
.prod__card.rotated {
  transform: rotateY(-180deg);
}
.prod__card.disabled {
  filter: grayscale(100%);
}
.prod__card.disabled .in-basket, .prod__card.disabled .compound, .prod__card.disabled .basket-quantity__btn {
  pointer-events: none;
}
@media (max-width: 1300px) {
  .prod__card {
    height: 550px;
  }
}
@media (max-width: 1200px) {
  .prod__card {
    height: 520px;
  }
}
@media (max-width: 1150px) {
  .prod__card {
    height: 500px;
  }
}

.card__contents {
  width: 100%;
  height: 100%;
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.card__contents .card__img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 23px 23px 0 0;
  margin-bottom: 12px;
}

.card__contents-text {
  padding: 0 20px 20px 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media (max-width: 1150px) {
  .card__contents-text {
    padding: 0 10px 15px 10px;
  }
}

.card__contents-top {
  margin-bottom: auto;
}

.card__delivery {
  margin-top: 10px;
  margin-bottom: 24px;
}

.prod__name {
  color: #000;
  font-weight: 400;
  line-height: normal;
  font-size: 22px;
  font-family: "Geologica-Regular";
  margin-bottom: 8px;
}
@media (max-width: 1300px) {
  .prod__name {
    font-size: 20px;
  }
}

.prod__info {
  color: #000;
  line-height: normal;
  font-weight: 200;
  font-size: 16px;
  font-family: "Geologica-ExtraLight";
}
@media (max-width: 1300px) {
  .prod__info {
    font-size: 15px;
  }
}

.card__delivery p {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  color: #000;
  line-height: normal;
  font-weight: 200;
  font-size: 16px;
  font-family: "Geologica-ExtraLight";
}
.card__delivery p img {
  width: 15px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 8px;
}
@media (max-width: 1300px) {
  .card__delivery p {
    font-size: 15px;
  }
}
.card__delivery p + p {
  margin-top: 11px;
}
@media (max-width: 1300px) {
  .card__delivery p + p {
    margin-top: 5px;
  }
}

.card__bottom-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.basket-quantity__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  border: 1px solid #E8222F;
  padding: 7.5px 17.5px;
  width: 90px;
}

.basket-quantity__value {
  color: #000;
  font-family: "Geologica-ExtraLight";
  font-weight: 200;
  font-size: 16px;
  line-height: normal;
  width: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  padding: unset;
  border: none;
  border-radius: unset;
  background-color: transparent;
}

.basket-quantity__btn {
  color: #000;
  font-weight: 200;
  line-height: normal;
  font-family: "Geologica-ExtraLight";
  font-size: 16px;
  background-color: unset;
  outline: unset;
  cursor: pointer;
}

.prod__price {
  color: #000;
  font-family: "Rubik-Medium";
  font-size: 26px;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1300px) {
  .prod__price {
    font-size: 23px;
  }
}

.card__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.in-basket {
  cursor: pointer;
}
.in-basket:hover {
  color: #E8222F;
}

.compound {
  background-color: transparent;
  cursor: pointer;
  color: #E8222F;
  font-size: 18px;
  font-weight: 200;
  line-height: normal;
  font-family: "Geologica-ExtraLight";
}
@media (max-width: 1300px) {
  .compound {
    font-size: 16px;
  }
}

.compound__mob-open {
  display: none;
}

.compound__mob-close {
  display: none;
}

.card-back-text {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 20px;
}
@media (max-width: 1150px) {
  .card-back-text {
    padding: 15px 10px 15px 10px;
  }
}

.back__prod-name {
  color: #000;
  font-family: "Geologica-Regular";
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 4px;
}
@media (max-width: 1300px) {
  .back__prod-name {
    font-size: 20px;
  }
}

.prod__articul {
  color: #000;
  font-family: "Geologica-ExtraLight";
  font-size: 16px;
  font-weight: 200;
  line-height: normal;
}
@media (max-width: 1300px) {
  .prod__articul {
    font-size: 15px;
  }
}

.compound__title {
  color: #000;
  font-family: "Geologica-Regular";
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1300px) {
  .compound__title {
    font-size: 16px;
  }
}

.compound__box {
  margin-top: 20px;
}
.compound__box p {
  color: #000;
  font-family: "Geologica-ExtraLight";
  font-size: 16px;
  font-weight: 200;
  line-height: normal;
  margin-bottom: 5px;
}
@media (max-width: 1300px) {
  .compound__box p {
    font-size: 15px;
  }
}
.compound__box p + p {
  margin: 0;
}
.compound__box ul {
  padding-left: 10px;
  margin: 5px 0;
}
.compound__box ul li {
  color: #000;
  font-family: "Geologica-ExtraLight";
  font-size: 16px;
  font-weight: 200;
  line-height: normal;
  position: relative;
  padding-left: 10px;
}
.compound__box ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 4px;
  height: 4px;
  background-color: #000;
  border-radius: 50%;
}
@media (max-width: 1300px) {
  .compound__box ul li {
    font-size: 15px;
  }
}

/*.compound__desc, .prod__weight {
    color: #000;
    font-family: $geoELight;
    font-size: 16px;
    font-weight: 200;
    line-height: normal;
}*/
/*.compound__desc {
    margin-bottom: 12px;
}*/
.card-front {
  transform-style: preserve-3d;
}

.card-back {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

/*footer*/
footer {
  padding: 0 0 100px 0;
  margin-top: 200px;
}
@media (max-width: 1100px) {
  footer {
    padding: 0 0 50px 0;
    margin-top: 150px;
  }
}

.footer__top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer__menu {
  width: 287px;
  height: 275px;
}
@media (max-width: 1100px) {
  .footer__menu {
    width: 210px;
    height: 205px;
  }
}

.footer__nav {
  width: 360px;
  height: 160px;
}
@media (max-width: 1100px) {
  .footer__nav {
    width: 280px;
    height: 120px;
  }
}

.footer__menu, .footer__nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer__menu li, .footer__nav li {
  margin-bottom: 16px;
}
@media (max-width: 1100px) {
  .footer__menu li, .footer__nav li {
    margin-bottom: 10px;
  }
}
.footer__menu a, .footer__nav a {
  color: #fff;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  font-family: "Geologica-Regular";
  transition: all 0.5s;
}
.footer__menu a:hover, .footer__nav a:hover {
  color: #E8222F;
}
@media (max-width: 1300px) {
  .footer__menu a, .footer__nav a {
    font-size: 16px;
  }
}
@media (max-width: 1100px) {
  .footer__menu a, .footer__nav a {
    font-size: 15px;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer__info .footer__app-link {
  width: 345px;
  text-align: center;
}
@media (max-width: 1300px) {
  .footer__info .footer__app-link {
    width: 315px;
  }
}
@media (max-width: 1100px) {
  .footer__info .footer__app-link {
    width: 270px;
  }
}
.footer__info .footer__info-item + .footer__info-item {
  margin-top: 24px;
}
@media (max-width: 1100px) {
  .footer__info .footer__info-item + .footer__info-item {
    margin-top: 15px;
  }
}
.footer__info .footer__item {
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  font-family: "Geologica-Regular";
  color: #fff;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 1300px) {
  .footer__info .footer__item {
    font-size: 16px;
  }
}
@media (max-width: 1100px) {
  .footer__info .footer__item {
    font-size: 15px;
  }
}
.footer__info .footer__item + .footer__item {
  margin-top: 16px;
}
@media (max-width: 1100px) {
  .footer__info .footer__item + .footer__item {
    margin-top: 10px;
  }
}

.footer__logo {
  display: block;
  width: 156px;
  height: auto;
  margin: -12px auto 32px auto;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 1100px) {
  .footer__logo {
    width: 130px;
  }
}

.footer__copy {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__copy a {
  display: inline-block;
  color: #fff;
  font-size: 14px;
  line-height: normal;
  font-weight: 200;
  font-family: "Geologica-ExtraLight";
  transition: all 0.5s;
}
.footer__copy a:hover {
  color: #E8222F;
}
.footer__copy a + a {
  margin-left: 72px;
}/*# sourceMappingURL=style.css.map */