/*цвета*/
$white: #fff;
$black: #111;
$red: #E8222F;
$gray: #828282;

/*шрифты*/
$inter: "Inter-Regular";
$geoELight: "Geologica-ExtraLight";
$geoReg: "Geologica-Regular";
$rubikReg: "Rubik-Regular";
$rubikMed: "Rubik-Medium";
$rubikBold: "Rubik-Bold";
$rubikExtraBold: "Rubik-ExtraBold";

%pageBtn {
    display: block;
    width: fit-content;
    color: $white;
    font-size: 18px;
    font-weight: 200;
    line-height: normal;
    font-family: $geoELight;
    padding: 6px 28px;
    border-radius: 17px;
    background-color: $red;
    transition: all 0.5s;
    border: 1px solid $red;
    &:hover {
        background-color: transparent;
        color: $white;
    }
    @media(max-width: 1300px) {
        font-size: 16px;
    }
    @media(max-width: 1150px) {
        font-size: 15px;
        padding: 6px 15px;
    }
}